@font-face {
  font-family: "Rubik Light";
  src: url("assets/fonts/static/") format("woff2");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("/fonts/my-font.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/my-font.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik Italic";
  src: url("../fonts/my-font.woff2") format("woff2");
}

:root {
  /* ===================== */
  /*        COLORS         */
  /* ===================== */

  /* Neutral colors */

  --white: hsl(0deg 100% 100%);
  --black: hsl(0deg 0% 0%);

  --grey-500: hsl(219deg 13% 44%);
  --grey-50: hsl(220deg 38% 97%);

  /* Primary colors */

  --blue-950: hsl(214deg 24% 23%);
  --blue-900: hsl(216deg 25% 25%);
  --blue-850: hsl(215deg 27% 32%);

  --blue-500: hsl(223deg 100% 59%);
  --blue-300: hsl(216deg 47% 78%);
  --blue-100: hsl(220deg 50% 95%);
  --blue-50: hsl(225deg 100% 96%);

  --green-500: hsl(151deg 68% 52%);
  --green-100: hsl(151deg 88% 94%);

  --purple-600: hsl(277deg 91% 56%);
  --purple-100: hsl(278deg 100% 95%);

  --orange-400: hsl(22deg 100% 60%);
  --orange-50: hsl(27deg 100% 96%);

  --red-500: hsl(0deg 82% 63%);

  /* ===================== */
  /*        TYPOGRAPHY     */
  /* ===================== */

  /* ===================== */
  /*        SPACING        */
  /* ===================== */

  --spacing-100: .8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-400: 3.2rem; /* 32px */
  --spacing-500: 4rem; /* 40px */
  --spacing-600: 4.8rem; /* 48px */
  --spacing-800: 6.4rem; /* 64px */
  --spacing-1600: 12.8rem; /* 128px */
  --spacing-1800: 14.4rem; /* 144px */
  --spacing-2300: 18.4rem; /* 184px */
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding*/
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}
