
@font-face {
  font-family: "Rubik Medium";
  src: url("assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Italic";
  src: url("assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Light";
  src: url("assets/fonts/static/Rubik-Light.ttf") format("truetype");
}

.text-preset-3__mobile {
  line-height: 120%;
  font-size: 2rem;
}

:root {
  /* ===================== */
  /*        COLORS         */
  /* ===================== */

  /* Neutral colors */

  --white: hsl(0deg 100% 100%);
  --black: hsl(0deg 0% 0%);

  --grey-500: hsl(219deg 13% 44%);
  --grey-50: hsl(220deg 38% 97%);

  /* Primary colors */

  --blue-950: hsl(214deg 24% 23%);
  --blue-900: hsl(216deg 25% 25%);
  --blue-850: hsl(215deg 27% 32%);

  --blue-500: hsl(223deg 100% 59%);
  --blue-300: hsl(216deg 47% 78%);
  --blue-100: hsl(220deg 50% 95%);
  --blue-50: hsl(225deg 100% 96%);

  --green-500: hsl(151deg 68% 52%);
  --green-100: hsl(151deg 88% 94%);

  --purple-600: hsl(277deg 91% 56%);
  --purple-100: hsl(278deg 100% 95%);

  --orange-400: hsl(22deg 100% 60%);
  --orange-50: hsl(27deg 100% 96%);

  --red-500: hsl(0deg 82% 63%);

  /* ===================== */
  /*        SPACING        */
  /* ===================== */

  --spacing-100: .8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-400: 3.2rem; /* 32px */
  --spacing-500: 4rem; /* 40px */
  --spacing-600: 4.8rem; /* 48px */
  --spacing-800: 6.4rem; /* 64px */
  --spacing-1600: 12.8rem; /* 128px */
  --spacing-1800: 14.4rem; /* 144px */
  --spacing-2300: 18.4rem; /* 184px */
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding*/
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Rubik Regular';
    min-height: 100vh;
    background-color: var(--blue-900);
    color: var(--white);
    background-image: url(assets/images/pattern-background-mobile-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  padding: 0 2.4rem;
}

.header {
    padding: var(--spacing-200) var(--spacing-300);
    display: flex;
    padding: 1.6rem 0;
    align-items: center;
}

.header__category {
    display: none;
    align-items: center;
}

.header__category .icon__frame {
  margin-right: 1.6rem;
}

.header__switch {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 8rem;
  height: 2rem;
  justify-content: space-between;
}

.header__switch img {
  width: 1.6rem;
  height: 1.6rem;
}

.dark {
  display: none;
}

.form-switch .form-check-input {
  background-color: var(--purple-600);
  border: none;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1.0%29'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);
  width: 3.2rem;
  height: 2rem;
}

.form-check-input:focus {
  box-shadow: none;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1.0%29'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);
}

.main {
  padding: 3.2rem 0;
  display: grid;
  gap: 4rem;
}

.main__title {
  font-size: 4rem;
  font-family: 'Rubik Light';
  margin-bottom: 1.6rem;
}

.title__span {
  font-family: 'Rubik Regular';
  font-weight: 900;
}

.main__subtitle {
  font-family: 'Rubik Italic';
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--blue-300);
  margin: 0;
}

.main__options {
  display: grid;
  gap: 1.6rem;
}

.main__options > * {
  background-color: var(--blue-850);
  border-radius: 1.2rem;
  height: 7.2rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon__frame {
  width: 4rem;
  height: 4rem;
  border-radius: .6rem;
  display: grid;
  place-content: center;
}

.icon {
  width: 2.857rem;
  height: 2.857rem
}

.main__options > .option-a > div { 
  background-color: var(--orange-50);
}

.main__options > .option-b > div { 
  background-color: var(--green-100);
}

.main__options > .option-c > div { 
  background-color: var(--blue-50);
}

.main__options > .option-d > div { 
  background-color: var(--purple-100);
}

.category__title {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Ovdje ces upisati kako treba da izgleda selektovani odgovor */
.selected {
  border: 2px solid lightsalmon;
}

.question__title {
  margin: 1.6rem 0 2.4rem;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 900;
}
